<form (keydown.enter)="$event.preventDefault()" ngSubmit="addContact(myForm.value, myForm.isValid)">
  <div class="form-row row">
    <div class="form-group col-2">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Name">
    </div>
    <div class="form-group col-2">
      <label for="phoneNumber">Phone Number</label>
      <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number">
    </div>
    <div class="form-group col-2">
      <br>
      <input type="button" class="btn btn-primary" id="phoneNumber" value="Add Contact">
    </div>
  </div>
</form>